In [1]:
import pandas as pd

patients = pd.read_csv("data/PATIENTS.csv", low_memory=False)
diagnoses_icd = pd.read_csv("data/DIAGNOSES_ICD.csv", low_memory=False)
chartevents = pd.read_csv("data/CHARTEVENTS.csv", low_memory=False)
prescriptions = pd.read_csv("data/PRESCRIPTIONS.csv", low_memory=False)
labevents = pd.read_csv("data/LABEVENTS.csv", low_memory=False)

In [2]:
htn_diagnoses = diagnoses_icd[
    diagnoses_icd['icd9_code'].str.startswith(('401', '402', '403', '404', '405'))
]

print(htn_diagnoses.head())

    row_id  subject_id  hadm_id  seq_num icd9_code
3   112347       10006   142345        4     40391
49  112457       10017   199207       14      4019
61  112469       10019   177759       12      4019
65  112507       10026   103770        2      4010
78  112520       10027   199395        8      4019

In [3]:
d_items = pd.read_csv("data/D_ITEMS.csv") 


bp_items = d_items[
    d_items['label'].str.contains('arterial pressure|blood pressure', case=False, na=False)
]

print(bp_items[['itemid', 'label']])

       itemid                                     label
58         53                         Arterial Pressure
9528   220050          Arterial Blood Pressure systolic
9529   220051         Arterial Blood Pressure diastolic
9530   220052              Arterial Blood Pressure mean
9531   220056       Arterial Blood Pressure Alarm - Low
9532   220058      Arterial Blood Pressure Alarm - High
9546   220179      Non Invasive Blood Pressure systolic
9547   220180     Non Invasive Blood Pressure diastolic
9548   220181          Non Invasive Blood Pressure mean
9563   223752   Non-Invasive Blood Pressure Alarm - Low
9821   223751  Non-Invasive Blood Pressure Alarm - High
9862   224167       Manual Blood Pressure Systolic Left
10236  224643      Manual Blood Pressure Diastolic Left
11430  227242     Manual Blood Pressure Diastolic Right
11431  227243      Manual Blood Pressure Systolic Right
11595  227537           ART Blood Pressure Alarm - High
11596  227538            ART Blood Pressure Alarm - Low
11597  227539           ART Blood Pressure Alarm Source

In [4]:
bp_item_ids = bp_items['itemid'].unique()

bp_data = chartevents[chartevents['itemid'].isin(bp_item_ids)]
print(bp_data.head())

     row_id  subject_id  hadm_id  icustay_id  itemid            charttime  \
4   5279025       40124   126179    279554.0  220179  2130-02-04 04:32:00
5   5279026       40124   126179    279554.0  220180  2130-02-04 04:32:00
6   5279027       40124   126179    279554.0  220181  2130-02-04 04:32:00
9   5279030       40124   126179    279554.0  223751  2130-02-04 04:34:00
10  5279031       40124   126179    279554.0  223752  2130-02-04 04:34:00

              storetime   cgid value  valuenum valueuom  warning  error  \
4   2130-02-04 04:43:00  21452   163     163.0     mmHg      0.0    0.0
5   2130-02-04 04:43:00  21452    81      81.0     mmHg      0.0    0.0
6   2130-02-04 04:43:00  21452   101     101.0     mmHg      0.0    0.0
9   2130-02-04 04:34:00  19085   170     170.0     mmHg      0.0    0.0
10  2130-02-04 04:34:00  19085    90      90.0     mmHg      0.0    0.0

   resultstatus stopped
4           NaN     NaN
5           NaN     NaN
6           NaN     NaN
9           NaN     NaN
10          NaN     NaN

In [5]:
htn_drugs = prescriptions[
    prescriptions['drug'].str.contains('amlodipine|losartan|hydrochlorothiazide|metoprolol', case=False, na=False)
]

print(htn_drugs.head())

    row_id  subject_id  hadm_id  icustay_id            startdate  \
12   32612       42458   159647         NaN  2146-07-21 00:00:00
19   59641       42275   128293    290478.0  2135-10-25 00:00:00
49   86579       43735   112662    293363.0  2128-11-05 00:00:00
56   86586       43735   112662         NaN  2128-11-07 00:00:00
59   86589       43735   112662         NaN  2128-11-08 00:00:00

                enddate drug_type                     drug  \
12  2146-07-22 00:00:00      MAIN  Metoprolol Succinate XL
19  2135-10-27 00:00:00      MAIN               Amlodipine
49  2128-11-09 00:00:00      MAIN      Metoprolol Tartrate
56  2128-11-08 00:00:00      MAIN      Metoprolol Tartrate
59  2128-11-09 00:00:00      MAIN      Metoprolol Tartrate

              drug_name_poe        drug_name_generic formulary_drug_cd  \
12  Metoprolol Succinate XL  Metoprolol Succinate XL            TOPR25
19               Amlodipine               Amlodipine             AMLO5
49      Metoprolol Tartrate      Metoprolol Tartrate            METO25
56      Metoprolol Tartrate      Metoprolol Tartrate            METO5I
59      Metoprolol Tartrate      Metoprolol Tartrate            METO5I

        gsn           ndc prod_strength dose_val_rx dose_unit_rx  \
12  47586.0  5.817703e+10   25mg XL Tab        12.5           mg
19  16926.0  5.107905e+10    5mg Tablet           5           mg
49  50631.0  5.107903e+10   25mg Tablet        12.5           mg
56  19808.0  1.439873e+08  5mg/5mL Vial           5           mg
59  19808.0  1.439873e+08  5mg/5mL Vial           5           mg

   form_val_disp form_unit_disp route
12           0.5            TAB    PO
19             1            TAB    PO
49           0.5            TAB    PO
56             1           VIAL    IV
59             1           VIAL    IV

In [6]:
d_labitems = pd.read_csv("data/D_LABITEMS.csv")  

relevant_tests = d_labitems[
    d_labitems['label'].str.contains('sodium|potassium|creatinine|cholesterol', case=False, na=False)
]

print(relevant_tests[['itemid', 'label']])

test_item_ids = relevant_tests['itemid'].unique()
lab_data = labevents[labevents['itemid'].isin(test_item_ids)]
print(lab_data.head())

     itemid                            label
22    50822           Potassium, Whole Blood
24    50824              Sodium, Whole Blood
33    50833                        Potassium
34    50834               Sodium, Body Fluid
40    50840             Cholesterol, Ascites
41    50841              Creatinine, Ascites
47    50847               Potassium, Ascites
48    50848                  Sodium, Ascites
103   50903    Cholesterol Ratio (Total/HDL)
104   50904                 Cholesterol, HDL
105   50905     Cholesterol, LDL, Calculated
106   50906       Cholesterol, LDL, Measured
107   50907               Cholesterol, Total
112   50912                       Creatinine
171   50971                        Potassium
183   50983                           Sodium
220   51021          Creatinine, Joint Fluid
230   51031          Cholesterol, Body Fluid
231   51032           Creatinine, Body Fluid
240   51041            Potassium, Body Fluid
241   51042               Sodium, Body Fluid
250   51051             Cholesterol, Pleural
251   51052              Creatinine, Pleural
256   51057               Potassium, Pleural
257   51058                  Sodium, Pleural
263   51064                 Potassium, Stool
264   51065                    Sodium, Stool
266   51067                 24 hr Creatinine
269   51070        Albumin/Creatinine, Urine
272   51073  Amylase/Creatinine Ratio, Urine
279   51080             Creatinine Clearance
280   51081                Creatinine, Serum
281   51082                Creatinine, Urine
296   51097                 Potassium, Urine
298   51099         Protein/Creatinine Ratio
299   51100                    Sodium, Urine
305   51106                 Urine Creatinine
671   51472             Cholesterol Crystals
     row_id  subject_id  hadm_id  itemid            charttime value  valuenum  \
4   6244567       10006      NaN   50912  2164-09-24 20:21:00   7.0       7.0
8   6244571       10006      NaN   50971  2164-09-24 20:21:00   4.3       4.3
9   6244572       10006      NaN   50983  2164-09-24 20:21:00   139     139.0
42  6244605       10006      NaN   50912  2164-09-25 05:25:00   7.4       7.4
46  6244609       10006      NaN   50971  2164-09-25 05:25:00   4.2       4.2

   valueuom      flag
4     mg/dL  abnormal
8     mEq/L       NaN
9     mEq/L       NaN
42    mg/dL  abnormal
46    mEq/L       NaN

In [7]:
print(bp_data.isnull().sum()) 


bp_data = bp_data.dropna(subset=['value'])

row_id              0
subject_id          0
hadm_id             0
icustay_id          0
itemid              0
charttime           0
storetime           0
cgid                0
value               0
valuenum            7
valueuom            7
warning             0
error               0
resultstatus    25682
stopped         25682
dtype: int64

In [8]:
bp_data['charttime'] = pd.to_datetime(bp_data['charttime'])


bp_data['value'] = pd.to_numeric(bp_data['value'], errors='coerce')

In [9]:
bp_data

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped
4,5279025,40124,126179,279554.0,220179,2130-02-04 04:32:00,2130-02-04 04:43:00,21452,163.0,163.0,mmHg,0.0,0.0,NaN,NaN
5,5279026,40124,126179,279554.0,220180,2130-02-04 04:32:00,2130-02-04 04:43:00,21452,81.0,81.0,mmHg,0.0,0.0,NaN,NaN
6,5279027,40124,126179,279554.0,220181,2130-02-04 04:32:00,2130-02-04 04:43:00,21452,101.0,101.0,mmHg,0.0,0.0,NaN,NaN
9,5279030,40124,126179,279554.0,223751,2130-02-04 04:34:00,2130-02-04 04:34:00,19085,170.0,170.0,mmHg,0.0,0.0,NaN,NaN
10,5279031,40124,126179,279554.0,223752,2130-02-04 04:34:00,2130-02-04 04:34:00,19085,90.0,90.0,mmHg,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578211,272565345,41976,176016,286072.0,227539,2199-02-01 16:04:00,2199-02-01 16:05:00,17446,NaN,NaN,NaN,0.0,0.0,NaN,NaN
578981,272566115,41976,176016,286072.0,227539,2199-02-02 08:07:00,2199-02-02 08:08:00,15843,NaN,NaN,NaN,0.0,0.0,NaN,NaN
584378,272571512,41976,176016,286072.0,227539,2199-02-06 21:52:00,2199-02-06 21:53:00,14772,NaN,NaN,NaN,0.0,0.0,NaN,NaN
675098,272949568,42367,139932,250305.0,227539,2147-10-12 08:00:00,2147-10-12 08:01:00,17346,NaN,NaN,NaN,0.0,0.0,NaN,NaN
716682,274376213,44083,125157,265615.0,227539,2112-05-05 08:29:00,2112-05-05 08:29:00,15843,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [10]:
patients_data = patients[['subject_id', 'gender', 'dob']]

In [11]:
bp_data = bp_data[['row_id','subject_id','hadm_id','itemid','charttime', 'value', 'valueuom']]

In [12]:
import pandas as pd

# Charger la table ADMISSIONS
admissions = pd.read_csv("data/ADMISSIONS.csv")

# Afficher les premières lignes pour un aperçu
print(admissions.head())

   row_id  subject_id  hadm_id            admittime            dischtime  \
0   12258       10006   142345  2164-10-23 21:09:00  2164-11-01 17:15:00
1   12263       10011   105331  2126-08-14 22:32:00  2126-08-28 18:59:00
2   12265       10013   165520  2125-10-04 23:36:00  2125-10-07 15:13:00
3   12269       10017   199207  2149-05-26 17:19:00  2149-06-03 18:42:00
4   12270       10019   177759  2163-05-14 20:43:00  2163-05-15 12:00:00

             deathtime admission_type         admission_location  \
0                  NaN      EMERGENCY       EMERGENCY ROOM ADMIT
1  2126-08-28 18:59:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
2  2125-10-07 15:13:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM
3                  NaN      EMERGENCY       EMERGENCY ROOM ADMIT
4  2163-05-15 12:00:00      EMERGENCY  TRANSFER FROM HOSP/EXTRAM

  discharge_location insurance language  religion marital_status  \
0   HOME HEALTH CARE  Medicare      NaN  CATHOLIC      SEPARATED
1       DEAD/EXPIRED   Private      NaN  CATHOLIC         SINGLE
2       DEAD/EXPIRED  Medicare      NaN  CATHOLIC            NaN
3                SNF  Medicare      NaN  CATHOLIC       DIVORCED
4       DEAD/EXPIRED  Medicare      NaN  CATHOLIC       DIVORCED

                ethnicity            edregtime            edouttime  \
0  BLACK/AFRICAN AMERICAN  2164-10-23 16:43:00  2164-10-23 23:00:00
1   UNKNOWN/NOT SPECIFIED                  NaN                  NaN
2   UNKNOWN/NOT SPECIFIED                  NaN                  NaN
3                   WHITE  2149-05-26 12:08:00  2149-05-26 19:45:00
4                   WHITE                  NaN                  NaN

             diagnosis  hospital_expire_flag  has_chartevents_data
0               SEPSIS                     0                     1
1          HEPATITIS B                     1                     1
2               SEPSIS                     1                     1
3     HUMERAL FRACTURE                     0                     1
4  ALCOHOLIC HEPATITIS                     1                     1

In [13]:
admissions_data = admissions[['row_id','subject_id', 'hadm_id', 'dischtime', 'admittime', 'admission_type', 'diagnosis']]

In [14]:
prescriptions_data = prescriptions[['row_id','subject_id', 'hadm_id', 'startdate', 'enddate', 'drug_type','formulary_drug_cd','dose_val_rx','dose_unit_rx', 'route']]

In [15]:
htn_diagnoses = diagnoses_icd[['row_id','subject_id', 'hadm_id', 'seq_num', 'icd9_code']]


htn_diagnoses = htn_diagnoses.merge(
    admissions_data[['hadm_id', 'admittime', 'dischtime']],
    on='hadm_id',
    how='left'
)

htn_diagnoses

,row_id,subject_id,hadm_id,seq_num,icd9_code,admittime,dischtime
0,112344,10006,142345,1,99591,2164-10-23 21:09:00,2164-11-01 17:15:00
1,112345,10006,142345,2,99662,2164-10-23 21:09:00,2164-11-01 17:15:00
2,112346,10006,142345,3,5672,2164-10-23 21:09:00,2164-11-01 17:15:00
3,112347,10006,142345,4,40391,2164-10-23 21:09:00,2164-11-01 17:15:00
4,112348,10006,142345,5,42731,2164-10-23 21:09:00,2164-11-01 17:15:00
...,...,...,...,...,...,...,...
1756,397673,44228,103379,7,1975,2170-12-15 03:14:00,2170-12-24 18:00:00
1757,397674,44228,103379,8,45182,2170-12-15 03:14:00,2170-12-24 18:00:00
1758,397675,44228,103379,9,99592,2170-12-15 03:14:00,2170-12-24 18:00:00
1759,397676,44228,103379,10,2449,2170-12-15 03:14:00,2170-12-24 18:00:00
1760,397677,44228,103379,11,2859,2170-12-15 03:14:00,2170-12-24 18:00:00

In [16]:
lab_data = labevents[['row_id','subject_id','hadm_id','itemid','charttime', 'value', 'valueuom']]

In [17]:
# Joindre htn_diagnoses avec admissions_data
htn_with_admissions = htn_diagnoses.merge(
    admissions_data,
    on=['subject_id', 'hadm_id'],  # Clés communes
    how='inner'
)

htn_with_admissions

,row_id_x,subject_id,hadm_id,seq_num,icd9_code,admittime_x,dischtime_x,row_id_y,dischtime_y,admittime_y,admission_type,diagnosis
0,112344,10006,142345,1,99591,2164-10-23 21:09:00,2164-11-01 17:15:00,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
1,112345,10006,142345,2,99662,2164-10-23 21:09:00,2164-11-01 17:15:00,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
2,112346,10006,142345,3,5672,2164-10-23 21:09:00,2164-11-01 17:15:00,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
3,112347,10006,142345,4,40391,2164-10-23 21:09:00,2164-11-01 17:15:00,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
4,112348,10006,142345,5,42731,2164-10-23 21:09:00,2164-11-01 17:15:00,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
...,...,...,...,...,...,...,...,...,...,...,...,...
1756,397673,44228,103379,7,1975,2170-12-15 03:14:00,2170-12-24 18:00:00,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
1757,397674,44228,103379,8,45182,2170-12-15 03:14:00,2170-12-24 18:00:00,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
1758,397675,44228,103379,9,99592,2170-12-15 03:14:00,2170-12-24 18:00:00,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
1759,397676,44228,103379,10,2449,2170-12-15 03:14:00,2170-12-24 18:00:00,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
1760,397677,44228,103379,11,2859,2170-12-15 03:14:00,2170-12-24 18:00:00,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS

In [18]:
# Joindre bp_data avec admissions_data
bp_with_admissions = bp_data.merge(
    admissions_data,
    on=['subject_id', 'hadm_id'],  # Clés communes
    how='inner'
)

# Filtrer les mesures prises pendant l'hospitalisation
bp_with_admissions = bp_with_admissions[
    (bp_with_admissions['charttime'] >= bp_with_admissions['admittime'])
]

bp_with_admissions

,row_id_x,subject_id,hadm_id,itemid,charttime,value,valueuom,row_id_y,dischtime,admittime,admission_type,diagnosis
0,5279025,40124,126179,220179,2130-02-04 04:32:00,163.0,mmHg,39821,2130-02-10 17:39:00,2130-02-04 02:26:00,EMERGENCY,SHORTNESS OF BREATH
1,5279026,40124,126179,220180,2130-02-04 04:32:00,81.0,mmHg,39821,2130-02-10 17:39:00,2130-02-04 02:26:00,EMERGENCY,SHORTNESS OF BREATH
2,5279027,40124,126179,220181,2130-02-04 04:32:00,101.0,mmHg,39821,2130-02-10 17:39:00,2130-02-04 02:26:00,EMERGENCY,SHORTNESS OF BREATH
3,5279030,40124,126179,223751,2130-02-04 04:34:00,170.0,mmHg,39821,2130-02-10 17:39:00,2130-02-04 02:26:00,EMERGENCY,SHORTNESS OF BREATH
4,5279031,40124,126179,223752,2130-02-04 04:34:00,90.0,mmHg,39821,2130-02-10 17:39:00,2130-02-04 02:26:00,EMERGENCY,SHORTNESS OF BREATH
...,...,...,...,...,...,...,...,...,...,...,...,...
25677,7469173,44228,103379,220180,2170-12-19 17:06:00,53.0,mmHg,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
25678,7469174,44228,103379,220181,2170-12-19 17:06:00,67.0,mmHg,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
25679,7469178,44228,103379,220179,2170-12-19 18:24:00,111.0,mmHg,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
25680,7469179,44228,103379,220180,2170-12-19 18:24:00,54.0,mmHg,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
25681,7469180,44228,103379,220181,2170-12-19 18:24:00,67.0,mmHg,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS

In [19]:
# Joindre lab_data avec admissions_data
lab_with_admissions = lab_data.merge(
    admissions_data,
    on=['subject_id', 'hadm_id'],  # Clés communes
    how='inner'
)

# Filtrer les résultats obtenus pendant l'hospitalisation
lab_with_admissions = lab_with_admissions[
    (lab_with_admissions['charttime'] >= lab_with_admissions['admittime'])
]

lab_with_admissions

,row_id_x,subject_id,hadm_id,itemid,charttime,value,valueuom,row_id_y,dischtime,admittime,admission_type,diagnosis
65,6245263,10006,142345.0,50862,2164-10-24 03:00:00,2.7,g/dL,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
66,6245264,10006,142345.0,50868,2164-10-24 03:00:00,12,mEq/L,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
67,6245265,10006,142345.0,50882,2164-10-24 03:00:00,31,mEq/L,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
68,6245266,10006,142345.0,50893,2164-10-24 03:00:00,8.5,mg/dL,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
69,6245267,10006,142345.0,50902,2164-10-24 03:00:00,100,mEq/L,12258,2164-11-01 17:15:00,2164-10-23 21:09:00,EMERGENCY,SEPSIS
...,...,...,...,...,...,...,...,...,...,...,...,...
61807,20452679,44228,103379.0,51250,2170-12-24 04:09:00,88,fL,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
61808,20452680,44228,103379.0,51265,2170-12-24 04:09:00,595,K/uL,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
61809,20452681,44228,103379.0,51277,2170-12-24 04:09:00,14.5,%,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
61810,20452682,44228,103379.0,51279,2170-12-24 04:09:00,2.76,m/uL,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS
61811,20452683,44228,103379.0,51301,2170-12-24 04:09:00,16.9,K/uL,41092,2170-12-24 18:00:00,2170-12-15 03:14:00,EMERGENCY,CHOLANGITIS

In [20]:
# Joindre prescriptions_data avec admissions_data
prescriptions_with_admissions = prescriptions_data.merge(
    admissions_data,
    on=['subject_id', 'hadm_id'],  # Clés communes
    how='inner'
)

prescriptions_with_admissions

,row_id_x,subject_id,hadm_id,startdate,enddate,drug_type,formulary_drug_cd,dose_val_rx,dose_unit_rx,route,row_id_y,dischtime,admittime,admission_type,diagnosis
0,32600,42458,159647,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,PNEU25I,0.5,mL,IM,40565,2146-07-22 14:45:00,2146-07-21 14:45:00,EMERGENCY,PNEUMONIA
1,32601,42458,159647,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,BISA5,10,mg,PO,40565,2146-07-22 14:45:00,2146-07-21 14:45:00,EMERGENCY,PNEUMONIA
2,32602,42458,159647,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,BISA10R,10,mg,PR,40565,2146-07-22 14:45:00,2146-07-21 14:45:00,EMERGENCY,PNEUMONIA
3,32603,42458,159647,2146-07-21 00:00:00,2146-07-22 00:00:00,MAIN,SENN187,1,TAB,PO,40565,2146-07-22 14:45:00,2146-07-21 14:45:00,EMERGENCY,PNEUMONIA
4,32604,42458,159647,2146-07-21 00:00:00,2146-07-21 00:00:00,MAIN,DOCU100L,100,mg,PO,40565,2146-07-22 14:45:00,2146-07-21 14:45:00,EMERGENCY,PNEUMONIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10393,3609913,42430,100969,2142-11-29 00:00:00,2142-11-30 00:00:00,MAIN,NACLFLUSH,3,mL,IV,40554,2142-11-30 10:55:00,2142-11-26 21:20:00,EMERGENCY,CEREBROVASCULAR ACCIDENT
10394,3609914,42430,100969,2142-11-30 00:00:00,2142-11-30 00:00:00,MAIN,ACET650R,650,mg,PR,40554,2142-11-30 10:55:00,2142-11-26 21:20:00,EMERGENCY,CEREBROVASCULAR ACCIDENT
10395,3609915,42430,100969,2142-11-26 00:00:00,2142-11-27 00:00:00,BASE,NS1000,1000,mL,IV,40554,2142-11-30 10:55:00,2142-11-26 21:20:00,EMERGENCY,CEREBROVASCULAR ACCIDENT
10396,3609916,42430,100969,2142-11-26 00:00:00,2142-11-27 00:00:00,BASE,HEPBASE,250,mL,IV,40554,2142-11-30 10:55:00,2142-11-26 21:20:00,EMERGENCY,CEREBROVASCULAR ACCIDENT
10397,3609917,42430,100969,2142-11-26 00:00:00,2142-11-28 00:00:00,BASE,NICABAGSODCHL,200,mL,IV DRIP,40554,2142-11-30 10:55:00,2142-11-26 21:20:00,EMERGENCY,CEREBROVASCULAR ACCIDENT

In [21]:
gender_mapping = {
    'M': 8507,  # Masculin
    'F': 8532   # Féminin
}

# Construire la table standardisée `person`
person = pd.DataFrame({
    'person_id': patients_data['subject_id'],  # ID patient
    'gender_concept_id': patients_data['gender'].map(gender_mapping),  # Genre
    'year_of_birth': pd.to_datetime(patients_data['dob']).dt.year,  # Année de naissance
    'month_of_birth': pd.to_datetime(patients_data['dob']).dt.month,  # Mois de naissance
    'day_of_birth': pd.to_datetime(patients_data['dob']).dt.day,  # Date de décès
    'race_concept_id': -1,
    'ethnicity_concept_id': -1,
})

# Visualiser un aperçu
print(person.head())

   person_id  gender_concept_id  year_of_birth  month_of_birth  day_of_birth  \
0      10006               8532           2094               3             5
1      10011               8532           2090               6             5
2      10013               8532           2038               9             3
3      10017               8532           2075               9            21
4      10019               8507           2114               6            20

   race_concept_id  ethnicity_concept_id
0               -1                    -1
1               -1                    -1
2               -1                    -1
3               -1                    -1
4               -1                    -1

In [22]:
print(person.isnull().sum())

# Vérifier les valeurs uniques pour le genre
print(person['gender_concept_id'].unique())

person_id               0
gender_concept_id       0
year_of_birth           0
month_of_birth          0
day_of_birth            0
race_concept_id         0
ethnicity_concept_id    0
dtype: int64
[8532 8507]

In [23]:
person.to_csv("person.csv", index=False)

In [24]:
admission_type_mapping = {
    'EMERGENCY': 9203,  # Urgence
    'ELECTIVE': 9202,   # Élective
    'NEWBORN': 42898160 # Nouveau-né
}

# Construire la table `visit_occurrence`
visit_occurrence = pd.DataFrame({
    'visit_occurrence_id': admissions_data['hadm_id'],
    'person_id': admissions_data['subject_id'],
    'visit_concept_id': admissions_data['admission_type'].map(admission_type_mapping).fillna(-1),  # FIXME
    'visit_type_concept_id': admissions_data['admission_type'].map(admission_type_mapping).fillna(-1), # FIXME
    'visit_start_datetime': pd.to_datetime(admissions_data['admittime']),
    'visit_start_date': pd.to_datetime(admissions_data['admittime']).dt.date,
    'visit_end_datetime': pd.to_datetime(admissions_data['dischtime']),
    'visit_end_date': pd.to_datetime(admissions_data['dischtime']).dt.date,
})

print(visit_occurrence.head())

   visit_occurrence_id  person_id  visit_concept_id  visit_type_concept_id  \
0               142345      10006            9203.0                 9203.0
1               105331      10011            9203.0                 9203.0
2               165520      10013            9203.0                 9203.0
3               199207      10017            9203.0                 9203.0
4               177759      10019            9203.0                 9203.0

  visit_start_datetime visit_start_date  visit_end_datetime visit_end_date
0  2164-10-23 21:09:00       2164-10-23 2164-11-01 17:15:00     2164-11-01
1  2126-08-14 22:32:00       2126-08-14 2126-08-28 18:59:00     2126-08-28
2  2125-10-04 23:36:00       2125-10-04 2125-10-07 15:13:00     2125-10-07
3  2149-05-26 17:19:00       2149-05-26 2149-06-03 18:42:00     2149-06-03
4  2163-05-14 20:43:00       2163-05-14 2163-05-15 12:00:00     2163-05-15

In [25]:
condition_occurrence = pd.DataFrame({
    'condition_occurrence_id': htn_diagnoses['row_id'],
    'person_id': htn_diagnoses['subject_id'],
    'condition_concept_id': -1, # htn_diagnoses['icd9_code'],  # FIXME À mapper avec OMOP plus tard
    'condition_type_concept_id' : -1,  # FIXME
    'condition_start_datetime': pd.to_datetime(htn_diagnoses['admittime']),
    'condition_start_date': pd.to_datetime(htn_diagnoses['admittime']).dt.date,
    'condition_end_datetime': pd.to_datetime(htn_diagnoses['dischtime']),
    'condition_end_date': pd.to_datetime(htn_diagnoses['dischtime']).dt.date,
    'visit_occurrence_id': htn_diagnoses['hadm_id']
})

print(condition_occurrence.head())

   condition_occurrence_id  person_id  condition_concept_id  \
0                   112344      10006                    -1
1                   112345      10006                    -1
2                   112346      10006                    -1
3                   112347      10006                    -1
4                   112348      10006                    -1

   condition_type_concept_id condition_start_datetime condition_start_date  \
0                         -1      2164-10-23 21:09:00           2164-10-23
1                         -1      2164-10-23 21:09:00           2164-10-23
2                         -1      2164-10-23 21:09:00           2164-10-23
3                         -1      2164-10-23 21:09:00           2164-10-23
4                         -1      2164-10-23 21:09:00           2164-10-23

  condition_end_datetime condition_end_date  visit_occurrence_id
0    2164-11-01 17:15:00         2164-11-01               142345
1    2164-11-01 17:15:00         2164-11-01               142345
2    2164-11-01 17:15:00         2164-11-01               142345
3    2164-11-01 17:15:00         2164-11-01               142345
4    2164-11-01 17:15:00         2164-11-01               142345

In [26]:
drug_exposure = pd.DataFrame({
    'drug_exposure_id': prescriptions_data['row_id'],
    'person_id': prescriptions_data['subject_id'],
    'drug_concept_id': -1,  # FIXME
    'drug_type_concept_id': -1,  # FIXME
    'drug_exposure_start_datetime': pd.to_datetime(prescriptions_data['startdate']),
    'drug_exposure_start_date': pd.to_datetime(prescriptions_data['startdate']).dt.date,
    'drug_exposure_end_datetime': pd.to_datetime(prescriptions_data['enddate']).fillna(pd.NaT),
    'drug_exposure_end_date': pd.to_datetime(prescriptions_data['enddate']).dt.date.fillna(pd.to_datetime('1970-01-01')),
    'quantity': pd.to_numeric(prescriptions_data['dose_val_rx'], errors='coerce'),
    'dose_unit_source_value': prescriptions_data['dose_unit_rx'],
    'visit_occurrence_id': prescriptions_data['hadm_id']
})

print(drug_exposure.head())

   drug_exposure_id  person_id  drug_concept_id  drug_type_concept_id  \
0             32600      42458               -1                    -1
1             32601      42458               -1                    -1
2             32602      42458               -1                    -1
3             32603      42458               -1                    -1
4             32604      42458               -1                    -1

  drug_exposure_start_datetime drug_exposure_start_date  \
0                   2146-07-21               2146-07-21
1                   2146-07-21               2146-07-21
2                   2146-07-21               2146-07-21
3                   2146-07-21               2146-07-21
4                   2146-07-21               2146-07-21

  drug_exposure_end_datetime drug_exposure_end_date  quantity  \
0                 2146-07-22             2146-07-22       0.5
1                 2146-07-22             2146-07-22      10.0
2                 2146-07-22             2146-07-22      10.0
3                 2146-07-22             2146-07-22       1.0
4                 2146-07-21             2146-07-21     100.0

  dose_unit_source_value  visit_occurrence_id
0                     mL               159647
1                     mg               159647
2                     mg               159647
3                    TAB               159647
4                     mg               159647

In [27]:
measurement = pd.DataFrame({
    'measurement_id': bp_data['row_id'],
    'person_id': bp_data['subject_id'],
    'measurement_concept_id': bp_data['itemid'],  # FIXME À mapper vers OMOP
    "measurement_type_concept_id": -1,  # FIXME
    'measurement_datetime': pd.to_datetime(bp_data['charttime']),
    'measurement_date': pd.to_datetime(bp_data['charttime']).dt.date,
    'value_as_number': pd.to_numeric(bp_data['value'], errors='coerce'),
    'unit_source_value': bp_data['valueuom']
})

print(measurement.head())

    measurement_id  person_id  measurement_concept_id  \
4          5279025      40124                  220179
5          5279026      40124                  220180
6          5279027      40124                  220181
9          5279030      40124                  223751
10         5279031      40124                  223752

    measurement_type_concept_id measurement_datetime measurement_date  \
4                            -1  2130-02-04 04:32:00       2130-02-04
5                            -1  2130-02-04 04:32:00       2130-02-04
6                            -1  2130-02-04 04:32:00       2130-02-04
9                            -1  2130-02-04 04:34:00       2130-02-04
10                           -1  2130-02-04 04:34:00       2130-02-04

    value_as_number unit_source_value
4             163.0              mmHg
5              81.0              mmHg
6             101.0              mmHg
9             170.0              mmHg
10             90.0              mmHg

In [28]:
print(visit_occurrence.head())
print(condition_occurrence.head())
print(drug_exposure.head())
print(measurement.head())

   visit_occurrence_id  person_id  visit_concept_id  visit_type_concept_id  \
0               142345      10006            9203.0                 9203.0
1               105331      10011            9203.0                 9203.0
2               165520      10013            9203.0                 9203.0
3               199207      10017            9203.0                 9203.0
4               177759      10019            9203.0                 9203.0

  visit_start_datetime visit_start_date  visit_end_datetime visit_end_date
0  2164-10-23 21:09:00       2164-10-23 2164-11-01 17:15:00     2164-11-01
1  2126-08-14 22:32:00       2126-08-14 2126-08-28 18:59:00     2126-08-28
2  2125-10-04 23:36:00       2125-10-04 2125-10-07 15:13:00     2125-10-07
3  2149-05-26 17:19:00       2149-05-26 2149-06-03 18:42:00     2149-06-03
4  2163-05-14 20:43:00       2163-05-14 2163-05-15 12:00:00     2163-05-15
   condition_occurrence_id  person_id  condition_concept_id  \
0                   112344      10006                    -1
1                   112345      10006                    -1
2                   112346      10006                    -1
3                   112347      10006                    -1
4                   112348      10006                    -1

   condition_type_concept_id condition_start_datetime condition_start_date  \
0                         -1      2164-10-23 21:09:00           2164-10-23
1                         -1      2164-10-23 21:09:00           2164-10-23
2                         -1      2164-10-23 21:09:00           2164-10-23
3                         -1      2164-10-23 21:09:00           2164-10-23
4                         -1      2164-10-23 21:09:00           2164-10-23

  condition_end_datetime condition_end_date  visit_occurrence_id
0    2164-11-01 17:15:00         2164-11-01               142345
1    2164-11-01 17:15:00         2164-11-01               142345
2    2164-11-01 17:15:00         2164-11-01               142345
3    2164-11-01 17:15:00         2164-11-01               142345
4    2164-11-01 17:15:00         2164-11-01               142345
   drug_exposure_id  person_id  drug_concept_id  drug_type_concept_id  \
0             32600      42458               -1                    -1
1             32601      42458               -1                    -1
2             32602      42458               -1                    -1
3             32603      42458               -1                    -1
4             32604      42458               -1                    -1

  drug_exposure_start_datetime drug_exposure_start_date  \
0                   2146-07-21               2146-07-21
1                   2146-07-21               2146-07-21
2                   2146-07-21               2146-07-21
3                   2146-07-21               2146-07-21
4                   2146-07-21               2146-07-21

  drug_exposure_end_datetime drug_exposure_end_date  quantity  \
0                 2146-07-22             2146-07-22       0.5
1                 2146-07-22             2146-07-22      10.0
2                 2146-07-22             2146-07-22      10.0
3                 2146-07-22             2146-07-22       1.0
4                 2146-07-21             2146-07-21     100.0

  dose_unit_source_value  visit_occurrence_id
0                     mL               159647
1                     mg               159647
2                     mg               159647
3                    TAB               159647
4                     mg               159647
    measurement_id  person_id  measurement_concept_id  \
4          5279025      40124                  220179
5          5279026      40124                  220180
6          5279027      40124                  220181
9          5279030      40124                  223751
10         5279031      40124                  223752

    measurement_type_concept_id measurement_datetime measurement_date  \
4                            -1  2130-02-04 04:32:00       2130-02-04
5                            -1  2130-02-04 04:32:00       2130-02-04
6                            -1  2130-02-04 04:32:00       2130-02-04
9                            -1  2130-02-04 04:34:00       2130-02-04
10                           -1  2130-02-04 04:34:00       2130-02-04

    value_as_number unit_source_value
4             163.0              mmHg
5              81.0              mmHg
6             101.0              mmHg
9             170.0              mmHg
10             90.0              mmHg

In [29]:
print(visit_occurrence.dtypes)
print(condition_occurrence.dtypes)
print(drug_exposure.dtypes)
print(measurement.dtypes)

visit_occurrence_id               int64
person_id                         int64
visit_concept_id                float64
visit_type_concept_id           float64
visit_start_datetime     datetime64[ns]
visit_start_date                 object
visit_end_datetime       datetime64[ns]
visit_end_date                   object
dtype: object
condition_occurrence_id               int64
person_id                             int64
condition_concept_id                  int64
condition_type_concept_id             int64
condition_start_datetime     datetime64[ns]
condition_start_date                 object
condition_end_datetime       datetime64[ns]
condition_end_date                   object
visit_occurrence_id                   int64
dtype: object
drug_exposure_id                         int64
person_id                                int64
drug_concept_id                          int64
drug_type_concept_id                     int64
drug_exposure_start_datetime    datetime64[ns]
drug_exposure_start_date                object
drug_exposure_end_datetime      datetime64[ns]
drug_exposure_end_date                  object
quantity                               float64
dose_unit_source_value                  object
visit_occurrence_id                      int64
dtype: object
measurement_id                          int64
person_id                               int64
measurement_concept_id                  int64
measurement_type_concept_id             int64
measurement_datetime           datetime64[ns]
measurement_date                       object
value_as_number                       float64
unit_source_value                      object
dtype: object

In [30]:
visit_occurrence.to_csv("visit_occurrence.csv", index=False)
condition_occurrence.to_csv("condition_occurrence.csv", index=False)
drug_exposure.to_csv("drug_exposure.csv", index=False)
measurement.to_csv("measurement.csv", index=False)

In [31]:
from sqlalchemy import create_engine
from sqlalchemy import text


# Define your database credentials
username = 'postgres'
password = 'mypass'
host = 'localhost'  # e.g., 'localhost' or an IP address
port = '5432'  # e.g., '5432' (default for PostgreSQL)
database = 'postgres'

# Create a connection string
connection_string = f'postgresql://{username}:{password}@{host}:{port}/{database}'

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Test the connection
try:
    with engine.connect() as connection:
        print("Connected to the database successfully!")
except Exception as e:
    print("Failed to connect to the database.")
    print(e)

Connected to the database successfully!

In [32]:
truncate_command = """TRUNCATE demo_cdm.attribute_definition, 
        demo_cdm.care_site, 
        demo_cdm.cdm_source, 
        demo_cdm.cohort_definition, 
        demo_cdm.concept, 
        demo_cdm.concept_ancestor, 
        demo_cdm.concept_class, 
        demo_cdm.concept_recommended, 
        demo_cdm.concept_relationship, 
        demo_cdm.concept_synonym, 
        demo_cdm.condition_era, 
        demo_cdm.condition_occurrence, 
        demo_cdm.cost, 
        demo_cdm.death, 
        demo_cdm.device_exposure, 
        demo_cdm.domain, 
        demo_cdm.dose_era, 
        demo_cdm.drug_era, 
        demo_cdm.drug_exposure, 
        demo_cdm.drug_strength, 
        demo_cdm.fact_relationship, 
        demo_cdm.location, 
        demo_cdm.measurement, 
        demo_cdm.metadata, 
        demo_cdm.note, 
        demo_cdm.note_nlp, 
        demo_cdm.observation, 
        demo_cdm.observation_period, 
        demo_cdm.payer_plan_period, 
        demo_cdm.person, 
        demo_cdm.procedure_occurrence, 
        demo_cdm.provider, 
        demo_cdm.relationship, 
        demo_cdm.source_to_concept_map, 
        demo_cdm.specimen, 
        demo_cdm.visit_detail, 
        demo_cdm.visit_occurrence, 
        demo_cdm.vocabulary;"""

try:
    with engine.connect() as connection:
        with connection.begin():
            connection.execute(text(truncate_command))
            print("Truncated all tables.")
except Exception as e:
    print("Failed to truncate tables.")
    print(e)

Truncated all tables.

In [33]:
visit_occurrence.to_sql('visit_occurrence', engine, schema='demo_cdm', if_exists='append', index=False)
condition_occurrence.to_sql('condition_occurrence', engine, schema='demo_cdm', if_exists='append', index=False)
drug_exposure.to_sql('drug_exposure', engine, schema='demo_cdm', if_exists='append', index=False)
measurement.to_sql('measurement', engine, schema='demo_cdm', if_exists='append', index=False)
person.to_sql('person', engine, schema='demo_cdm', if_exists='append', index=False)

100

In [34]:
# Define the SQL query
with engine.connect() as connection:
    query = text(
        """
        SELECT * FROM visit_occurrence
        """
    )

    # Execute the query
    result = connection.execute(query)

    # Fetch the results
    results = result.fetchall()

    # Display the results
    for row in results:
        print(row)

(142345, 10006, 9203.0, datetime.datetime(2164, 10, 23, 21, 9), None)
(105331, 10011, 9203.0, datetime.datetime(2126, 8, 14, 22, 32), None)
(165520, 10013, 9203.0, datetime.datetime(2125, 10, 4, 23, 36), None)
(199207, 10017, 9203.0, datetime.datetime(2149, 5, 26, 17, 19), None)
(177759, 10019, 9203.0, datetime.datetime(2163, 5, 14, 20, 43), None)
(103770, 10026, 9203.0, datetime.datetime(2195, 5, 17, 7, 39), None)
(199395, 10027, 9202.0, datetime.datetime(2190, 7, 13, 7, 15), None)
(132349, 10029, 9203.0, datetime.datetime(2139, 9, 22, 10, 58), None)
(140372, 10032, 9203.0, datetime.datetime(2138, 4, 2, 19, 52), None)
(157235, 10033, 9203.0, datetime.datetime(2132, 12, 5, 2, 46), None)
(110244, 10035, 9202.0, datetime.datetime(2129, 3, 3, 16, 6), None)
(189483, 10036, 9203.0, datetime.datetime(2185, 3, 24, 16, 56), None)
(111115, 10038, 9203.0, datetime.datetime(2144, 2, 9, 17, 53), None)
(157839, 10040, 9203.0, datetime.datetime(2147, 2, 23, 11, 43), None)
(148562, 10042, 9203.0, datetime.datetime(2147, 2, 6, 12, 38), None)
(168674, 10043, 9203.0, datetime.datetime(2185, 4, 14, 0, 23), None)
(124073, 10044, 9203.0, datetime.datetime(2152, 10, 2, 16, 24), None)
(126949, 10045, 9203.0, datetime.datetime(2129, 11, 24, 0, 31), None)
(133110, 10046, 9203.0, datetime.datetime(2194, 7, 26, 23, 43), None)
(100375, 10056, 9203.0, datetime.datetime(2129, 5, 2, 0, 12), None)
(142582, 10059, 9203.0, datetime.datetime(2150, 8, 7, 21, 40), None)
(122098, 10059, 9203.0, datetime.datetime(2150, 8, 22, 17, 33), None)
(145203, 10061, 9203.0, datetime.datetime(2107, 1, 16, 11, 33), None)
(111761, 10064, 9203.0, datetime.datetime(2127, 3, 19, 14, 39), None)
(183314, 10065, 9202.0, datetime.datetime(2189, 9, 8, 7, 15), None)
(160442, 10067, 9203.0, datetime.datetime(2130, 10, 6, 1, 34), None)
(146672, 10069, 9203.0, datetime.datetime(2188, 2, 8, 11, 15), None)
(170119, 10074, 9203.0, datetime.datetime(2167, 2, 11, 22, 10), None)
(198503, 10076, 9203.0, datetime.datetime(2107, 3, 21, 21, 16), None)
(134993, 10083, 9203.0, datetime.datetime(2192, 11, 20, 4, 34), None)
(169938, 10088, 9203.0, datetime.datetime(2107, 1, 4, 11, 59), None)
(168233, 10088, 9203.0, datetime.datetime(2107, 1, 29, 4, 0), None)
(149044, 10088, 9203.0, datetime.datetime(2107, 5, 12, 18, 0), None)
(190301, 10089, 9203.0, datetime.datetime(2132, 8, 5, 18, 48), None)
(176805, 10090, 9203.0, datetime.datetime(2124, 1, 12, 14, 26), None)
(165393, 10093, 9203.0, datetime.datetime(2141, 1, 25, 8, 35), None)
(168074, 10094, 9203.0, datetime.datetime(2180, 2, 29, 18, 54), None)
(122928, 10094, 9203.0, datetime.datetime(2180, 3, 15, 22, 35), None)
(180685, 10098, 9203.0, datetime.datetime(2170, 12, 2, 23, 24), None)
(142539, 10101, 9203.0, datetime.datetime(2128, 3, 22, 17, 37), None)
(164869, 10102, 9203.0, datetime.datetime(2105, 5, 29, 18, 18), None)
(177678, 10104, 9203.0, datetime.datetime(2120, 8, 24, 17, 39), None)
(133283, 10106, 9203.0, datetime.datetime(2161, 9, 14, 22, 22), None)
(174739, 10111, 9203.0, datetime.datetime(2180, 1, 14, 18, 42), None)
(188574, 10112, None, datetime.datetime(2148, 1, 13, 22, 32), None)
(167957, 10114, None, datetime.datetime(2171, 10, 30, 19, 3), None)
(187023, 10117, 9203.0, datetime.datetime(2138, 6, 5, 17, 23), None)
(105150, 10117, 9203.0, datetime.datetime(2138, 11, 9, 18, 8), None)
(157466, 10119, 9203.0, datetime.datetime(2117, 8, 5, 18, 27), None)
(165436, 10119, 9203.0, datetime.datetime(2117, 8, 21, 6, 58), None)
(193924, 10120, 9203.0, datetime.datetime(2115, 5, 12, 14, 52), None)
(182664, 10124, 9203.0, datetime.datetime(2192, 3, 26, 15, 30), None)
(170883, 10124, 9203.0, datetime.datetime(2192, 4, 16, 20, 57), None)
(160445, 10126, 9203.0, datetime.datetime(2171, 7, 12, 6, 2), None)
(182839, 10127, 9203.0, datetime.datetime(2198, 6, 28, 5, 34), None)
(156668, 10130, 9203.0, datetime.datetime(2161, 1, 30, 16, 26), None)
(197611, 10132, 9203.0, datetime.datetime(2123, 8, 23, 20, 0), None)
(126179, 40124, 9203.0, datetime.datetime(2130, 2, 4, 2, 26), None)
(146893, 40124, 9203.0, datetime.datetime(2130, 8, 12, 5, 49), None)
(198480, 40177, 9203.0, datetime.datetime(2169, 5, 6, 23, 16), None)
(175237, 40204, 9203.0, datetime.datetime(2155, 12, 16, 16, 20), None)
(127703, 40277, 9203.0, datetime.datetime(2151, 8, 13, 2, 23), None)
(109698, 40286, 9202.0, datetime.datetime(2193, 10, 15, 7, 15), None)
(174997, 40304, 9203.0, datetime.datetime(2163, 11, 21, 18, 34), None)
(186361, 40310, 9203.0, datetime.datetime(2144, 7, 11, 15, 2), None)
(157609, 40310, 9203.0, datetime.datetime(2144, 12, 24, 16, 16), None)
(161765, 40456, 9203.0, datetime.datetime(2118, 10, 6, 16, 25), None)
(168803, 40503, 9203.0, datetime.datetime(2186, 7, 6, 19, 59), None)
(116518, 40595, 9203.0, datetime.datetime(2144, 10, 15, 10, 46), None)
(182879, 40601, 9203.0, datetime.datetime(2184, 8, 4, 5, 44), None)
(104697, 40612, 9203.0, datetime.datetime(2159, 11, 17, 3, 28), None)
(126002, 40655, 9203.0, datetime.datetime(2144, 7, 18, 19, 32), None)
(129273, 40687, 9203.0, datetime.datetime(2155, 3, 8, 2, 35), None)
(138132, 41795, 9203.0, datetime.datetime(2145, 7, 7, 1, 19), None)
(118192, 41795, 9203.0, datetime.datetime(2145, 9, 6, 8, 52), None)
(101361, 41914, 9203.0, datetime.datetime(2145, 12, 1, 18, 13), None)
(125449, 41976, 9203.0, datetime.datetime(2198, 10, 29, 6, 54), None)
(173269, 41976, 9203.0, datetime.datetime(2199, 1, 13, 17, 13), None)
(176016, 41976, 9203.0, datetime.datetime(2199, 1, 31, 22, 26), None)
(172082, 41976, 9203.0, datetime.datetime(2200, 3, 17, 20, 32), None)
(152032, 41976, 9203.0, datetime.datetime(2200, 6, 9, 16, 14), None)
(130681, 41976, 9203.0, datetime.datetime(2200, 10, 29, 20, 46), None)
(180546, 41976, 9203.0, datetime.datetime(2201, 5, 12, 10, 49), None)
(174863, 41976, 9203.0, datetime.datetime(2201, 8, 10, 23, 0), None)
(125013, 41976, 9203.0, datetime.datetime(2201, 9, 28, 16, 47), None)
(155297, 41976, 9203.0, datetime.datetime(2201, 11, 16, 23, 0), None)
(179418, 41976, 9203.0, datetime.datetime(2201, 12, 31, 19, 19), None)
(151798, 41976, 9203.0, datetime.datetime(2202, 2, 15, 19, 1), None)
(145024, 41976, 9203.0, datetime.datetime(2202, 5, 1, 22, 0), None)
(149469, 41976, 9203.0, datetime.datetime(2202, 9, 16, 21, 56), None)
(153826, 41976, 9203.0, datetime.datetime(2202, 10, 3, 1, 45), None)
(107689, 41983, 9203.0, datetime.datetime(2151, 9, 12, 17, 4), None)
(154156, 42033, 9203.0, datetime.datetime(2131, 7, 26, 17, 13), None)
(171628, 42066, 9203.0, datetime.datetime(2112, 2, 4, 14, 49), None)
(151323, 42075, 9203.0, datetime.datetime(2166, 2, 12, 17, 57), None)
(102203, 42135, 9203.0, datetime.datetime(2127, 7, 23, 15, 21), None)
(117105, 42135, 9203.0, datetime.datetime(2127, 10, 6, 21, 0), None)
(178513, 42199, 9203.0, datetime.datetime(2117, 3, 21, 12, 55), None)
(171878, 42231, 9202.0, datetime.datetime(2102, 8, 29, 7, 15), None)
(128293, 42275, 9203.0, datetime.datetime(2135, 10, 24, 20, 28), None)
(195911, 42281, 9203.0, datetime.datetime(2119, 10, 17, 5, 58), None)
(138503, 42292, 9203.0, datetime.datetime(2162, 1, 16, 13, 56), None)
(167754, 42302, 9203.0, datetime.datetime(2160, 5, 4, 14, 10), None)
(114648, 42321, 9203.0, datetime.datetime(2121, 12, 7, 20, 49), None)
(180391, 42346, 9203.0, datetime.datetime(2160, 12, 16, 13, 47), None)
(175880, 42346, 9203.0, datetime.datetime(2160, 12, 26, 11, 45), None)
(139932, 42367, 9203.0, datetime.datetime(2147, 10, 3, 16, 10), None)
(114867, 42412, 9203.0, datetime.datetime(2165, 12, 19, 12, 19), None)
(100969, 42430, 9203.0, datetime.datetime(2142, 11, 26, 21, 20), None)
(159647, 42458, 9203.0, datetime.datetime(2146, 7, 21, 14, 45), None)
(112662, 43735, 9203.0, datetime.datetime(2128, 11, 4, 16, 5), None)
(167181, 43746, 9203.0, datetime.datetime(2110, 12, 29, 18, 3), None)
(121860, 43748, 9203.0, datetime.datetime(2179, 4, 17, 13, 12), None)
(186071, 43779, 9203.0, datetime.datetime(2173, 11, 27, 21, 56), None)
(130870, 43798, 9202.0, datetime.datetime(2198, 6, 29, 7, 15), None)
(149950, 43827, 9203.0, datetime.datetime(2176, 7, 14, 13, 24), None)
(142633, 43870, 9203.0, datetime.datetime(2186, 2, 9, 21, 32), None)
(158100, 43879, 9203.0, datetime.datetime(2106, 8, 30, 15, 43), None)
(172454, 43881, 9203.0, datetime.datetime(2104, 9, 24, 17, 31), None)
(167021, 43881, 9203.0, datetime.datetime(2104, 10, 24, 9, 44), None)
(167612, 43909, 9203.0, datetime.datetime(2152, 10, 9, 19, 5), None)
(110958, 43927, 9202.0, datetime.datetime(2175, 10, 2, 12, 30), None)
(125157, 44083, 9202.0, datetime.datetime(2112, 5, 4, 8, 0), None)
(131048, 44083, 9203.0, datetime.datetime(2112, 5, 22, 15, 37), None)
(198330, 44083, 9203.0, datetime.datetime(2112, 5, 28, 15, 45), None)
(174245, 44154, 9203.0, datetime.datetime(2178, 5, 14, 20, 29), None)
(163189, 44212, 9203.0, datetime.datetime(2123, 11, 24, 14, 14), None)
(192189, 44222, 9203.0, datetime.datetime(2180, 7, 19, 6, 55), None)
(103379, 44228, 9203.0, datetime.datetime(2170, 12, 15, 3, 14), None)
(142345, 10006, 9203.0, datetime.datetime(2164, 10, 23, 21, 9), None)
(105331, 10011, 9203.0, datetime.datetime(2126, 8, 14, 22, 32), None)
(165520, 10013, 9203.0, datetime.datetime(2125, 10, 4, 23, 36), None)
(199207, 10017, 9203.0, datetime.datetime(2149, 5, 26, 17, 19), None)
(177759, 10019, 9203.0, datetime.datetime(2163, 5, 14, 20, 43), None)
(103770, 10026, 9203.0, datetime.datetime(2195, 5, 17, 7, 39), None)
(199395, 10027, 9202.0, datetime.datetime(2190, 7, 13, 7, 15), None)
(132349, 10029, 9203.0, datetime.datetime(2139, 9, 22, 10, 58), None)
(140372, 10032, 9203.0, datetime.datetime(2138, 4, 2, 19, 52), None)
(157235, 10033, 9203.0, datetime.datetime(2132, 12, 5, 2, 46), None)
(110244, 10035, 9202.0, datetime.datetime(2129, 3, 3, 16, 6), None)
(189483, 10036, 9203.0, datetime.datetime(2185, 3, 24, 16, 56), None)
(111115, 10038, 9203.0, datetime.datetime(2144, 2, 9, 17, 53), None)
(157839, 10040, 9203.0, datetime.datetime(2147, 2, 23, 11, 43), None)
(148562, 10042, 9203.0, datetime.datetime(2147, 2, 6, 12, 38), None)
(168674, 10043, 9203.0, datetime.datetime(2185, 4, 14, 0, 23), None)
(124073, 10044, 9203.0, datetime.datetime(2152, 10, 2, 16, 24), None)
(126949, 10045, 9203.0, datetime.datetime(2129, 11, 24, 0, 31), None)
(133110, 10046, 9203.0, datetime.datetime(2194, 7, 26, 23, 43), None)
(100375, 10056, 9203.0, datetime.datetime(2129, 5, 2, 0, 12), None)
(142582, 10059, 9203.0, datetime.datetime(2150, 8, 7, 21, 40), None)
(122098, 10059, 9203.0, datetime.datetime(2150, 8, 22, 17, 33), None)
(145203, 10061, 9203.0, datetime.datetime(2107, 1, 16, 11, 33), None)
(111761, 10064, 9203.0, datetime.datetime(2127, 3, 19, 14, 39), None)
(183314, 10065, 9202.0, datetime.datetime(2189, 9, 8, 7, 15), None)
(160442, 10067, 9203.0, datetime.datetime(2130, 10, 6, 1, 34), None)
(146672, 10069, 9203.0, datetime.datetime(2188, 2, 8, 11, 15), None)
(170119, 10074, 9203.0, datetime.datetime(2167, 2, 11, 22, 10), None)
(198503, 10076, 9203.0, datetime.datetime(2107, 3, 21, 21, 16), None)
(134993, 10083, 9203.0, datetime.datetime(2192, 11, 20, 4, 34), None)
(169938, 10088, 9203.0, datetime.datetime(2107, 1, 4, 11, 59), None)
(168233, 10088, 9203.0, datetime.datetime(2107, 1, 29, 4, 0), None)
(149044, 10088, 9203.0, datetime.datetime(2107, 5, 12, 18, 0), None)
(190301, 10089, 9203.0, datetime.datetime(2132, 8, 5, 18, 48), None)
(176805, 10090, 9203.0, datetime.datetime(2124, 1, 12, 14, 26), None)
(165393, 10093, 9203.0, datetime.datetime(2141, 1, 25, 8, 35), None)
(168074, 10094, 9203.0, datetime.datetime(2180, 2, 29, 18, 54), None)
(122928, 10094, 9203.0, datetime.datetime(2180, 3, 15, 22, 35), None)
(180685, 10098, 9203.0, datetime.datetime(2170, 12, 2, 23, 24), None)
(142539, 10101, 9203.0, datetime.datetime(2128, 3, 22, 17, 37), None)
(164869, 10102, 9203.0, datetime.datetime(2105, 5, 29, 18, 18), None)
(177678, 10104, 9203.0, datetime.datetime(2120, 8, 24, 17, 39), None)
(133283, 10106, 9203.0, datetime.datetime(2161, 9, 14, 22, 22), None)
(174739, 10111, 9203.0, datetime.datetime(2180, 1, 14, 18, 42), None)
(188574, 10112, None, datetime.datetime(2148, 1, 13, 22, 32), None)
(167957, 10114, None, datetime.datetime(2171, 10, 30, 19, 3), None)
(187023, 10117, 9203.0, datetime.datetime(2138, 6, 5, 17, 23), None)
(105150, 10117, 9203.0, datetime.datetime(2138, 11, 9, 18, 8), None)
(157466, 10119, 9203.0, datetime.datetime(2117, 8, 5, 18, 27), None)
(165436, 10119, 9203.0, datetime.datetime(2117, 8, 21, 6, 58), None)
(193924, 10120, 9203.0, datetime.datetime(2115, 5, 12, 14, 52), None)
(182664, 10124, 9203.0, datetime.datetime(2192, 3, 26, 15, 30), None)
(170883, 10124, 9203.0, datetime.datetime(2192, 4, 16, 20, 57), None)
(160445, 10126, 9203.0, datetime.datetime(2171, 7, 12, 6, 2), None)
(182839, 10127, 9203.0, datetime.datetime(2198, 6, 28, 5, 34), None)
(156668, 10130, 9203.0, datetime.datetime(2161, 1, 30, 16, 26), None)
(197611, 10132, 9203.0, datetime.datetime(2123, 8, 23, 20, 0), None)
(126179, 40124, 9203.0, datetime.datetime(2130, 2, 4, 2, 26), None)
(146893, 40124, 9203.0, datetime.datetime(2130, 8, 12, 5, 49), None)
(198480, 40177, 9203.0, datetime.datetime(2169, 5, 6, 23, 16), None)
(175237, 40204, 9203.0, datetime.datetime(2155, 12, 16, 16, 20), None)
(127703, 40277, 9203.0, datetime.datetime(2151, 8, 13, 2, 23), None)
(109698, 40286, 9202.0, datetime.datetime(2193, 10, 15, 7, 15), None)
(174997, 40304, 9203.0, datetime.datetime(2163, 11, 21, 18, 34), None)
(186361, 40310, 9203.0, datetime.datetime(2144, 7, 11, 15, 2), None)
(157609, 40310, 9203.0, datetime.datetime(2144, 12, 24, 16, 16), None)
(161765, 40456, 9203.0, datetime.datetime(2118, 10, 6, 16, 25), None)
(168803, 40503, 9203.0, datetime.datetime(2186, 7, 6, 19, 59), None)
(116518, 40595, 9203.0, datetime.datetime(2144, 10, 15, 10, 46), None)
(182879, 40601, 9203.0, datetime.datetime(2184, 8, 4, 5, 44), None)
(104697, 40612, 9203.0, datetime.datetime(2159, 11, 17, 3, 28), None)
(126002, 40655, 9203.0, datetime.datetime(2144, 7, 18, 19, 32), None)
(129273, 40687, 9203.0, datetime.datetime(2155, 3, 8, 2, 35), None)
(138132, 41795, 9203.0, datetime.datetime(2145, 7, 7, 1, 19), None)
(118192, 41795, 9203.0, datetime.datetime(2145, 9, 6, 8, 52), None)
(101361, 41914, 9203.0, datetime.datetime(2145, 12, 1, 18, 13), None)
(125449, 41976, 9203.0, datetime.datetime(2198, 10, 29, 6, 54), None)
(173269, 41976, 9203.0, datetime.datetime(2199, 1, 13, 17, 13), None)
(176016, 41976, 9203.0, datetime.datetime(2199, 1, 31, 22, 26), None)
(172082, 41976, 9203.0, datetime.datetime(2200, 3, 17, 20, 32), None)
(152032, 41976, 9203.0, datetime.datetime(2200, 6, 9, 16, 14), None)
(130681, 41976, 9203.0, datetime.datetime(2200, 10, 29, 20, 46), None)
(180546, 41976, 9203.0, datetime.datetime(2201, 5, 12, 10, 49), None)
(174863, 41976, 9203.0, datetime.datetime(2201, 8, 10, 23, 0), None)
(125013, 41976, 9203.0, datetime.datetime(2201, 9, 28, 16, 47), None)
(155297, 41976, 9203.0, datetime.datetime(2201, 11, 16, 23, 0), None)
(179418, 41976, 9203.0, datetime.datetime(2201, 12, 31, 19, 19), None)
(151798, 41976, 9203.0, datetime.datetime(2202, 2, 15, 19, 1), None)
(145024, 41976, 9203.0, datetime.datetime(2202, 5, 1, 22, 0), None)
(149469, 41976, 9203.0, datetime.datetime(2202, 9, 16, 21, 56), None)
(153826, 41976, 9203.0, datetime.datetime(2202, 10, 3, 1, 45), None)
(107689, 41983, 9203.0, datetime.datetime(2151, 9, 12, 17, 4), None)
(154156, 42033, 9203.0, datetime.datetime(2131, 7, 26, 17, 13), None)
(171628, 42066, 9203.0, datetime.datetime(2112, 2, 4, 14, 49), None)
(151323, 42075, 9203.0, datetime.datetime(2166, 2, 12, 17, 57), None)
(102203, 42135, 9203.0, datetime.datetime(2127, 7, 23, 15, 21), None)
(117105, 42135, 9203.0, datetime.datetime(2127, 10, 6, 21, 0), None)
(178513, 42199, 9203.0, datetime.datetime(2117, 3, 21, 12, 55), None)
(171878, 42231, 9202.0, datetime.datetime(2102, 8, 29, 7, 15), None)
(128293, 42275, 9203.0, datetime.datetime(2135, 10, 24, 20, 28), None)
(195911, 42281, 9203.0, datetime.datetime(2119, 10, 17, 5, 58), None)
(138503, 42292, 9203.0, datetime.datetime(2162, 1, 16, 13, 56), None)
(167754, 42302, 9203.0, datetime.datetime(2160, 5, 4, 14, 10), None)
(114648, 42321, 9203.0, datetime.datetime(2121, 12, 7, 20, 49), None)
(180391, 42346, 9203.0, datetime.datetime(2160, 12, 16, 13, 47), None)
(175880, 42346, 9203.0, datetime.datetime(2160, 12, 26, 11, 45), None)
(139932, 42367, 9203.0, datetime.datetime(2147, 10, 3, 16, 10), None)
(114867, 42412, 9203.0, datetime.datetime(2165, 12, 19, 12, 19), None)
(100969, 42430, 9203.0, datetime.datetime(2142, 11, 26, 21, 20), None)
(159647, 42458, 9203.0, datetime.datetime(2146, 7, 21, 14, 45), None)
(112662, 43735, 9203.0, datetime.datetime(2128, 11, 4, 16, 5), None)
(167181, 43746, 9203.0, datetime.datetime(2110, 12, 29, 18, 3), None)
(121860, 43748, 9203.0, datetime.datetime(2179, 4, 17, 13, 12), None)
(186071, 43779, 9203.0, datetime.datetime(2173, 11, 27, 21, 56), None)
(130870, 43798, 9202.0, datetime.datetime(2198, 6, 29, 7, 15), None)
(149950, 43827, 9203.0, datetime.datetime(2176, 7, 14, 13, 24), None)
(142633, 43870, 9203.0, datetime.datetime(2186, 2, 9, 21, 32), None)
(158100, 43879, 9203.0, datetime.datetime(2106, 8, 30, 15, 43), None)
(172454, 43881, 9203.0, datetime.datetime(2104, 9, 24, 17, 31), None)
(167021, 43881, 9203.0, datetime.datetime(2104, 10, 24, 9, 44), None)
(167612, 43909, 9203.0, datetime.datetime(2152, 10, 9, 19, 5), None)
(110958, 43927, 9202.0, datetime.datetime(2175, 10, 2, 12, 30), None)
(125157, 44083, 9202.0, datetime.datetime(2112, 5, 4, 8, 0), None)
(131048, 44083, 9203.0, datetime.datetime(2112, 5, 22, 15, 37), None)
(198330, 44083, 9203.0, datetime.datetime(2112, 5, 28, 15, 45), None)
(174245, 44154, 9203.0, datetime.datetime(2178, 5, 14, 20, 29), None)
(163189, 44212, 9203.0, datetime.datetime(2123, 11, 24, 14, 14), None)
(192189, 44222, 9203.0, datetime.datetime(2180, 7, 19, 6, 55), None)
(103379, 44228, 9203.0, datetime.datetime(2170, 12, 15, 3, 14), None)
(142345, 10006, 9203.0, datetime.datetime(2164, 10, 23, 21, 9), None)
(105331, 10011, 9203.0, datetime.datetime(2126, 8, 14, 22, 32), None)
(165520, 10013, 9203.0, datetime.datetime(2125, 10, 4, 23, 36), None)
(199207, 10017, 9203.0, datetime.datetime(2149, 5, 26, 17, 19), None)
(177759, 10019, 9203.0, datetime.datetime(2163, 5, 14, 20, 43), None)
(103770, 10026, 9203.0, datetime.datetime(2195, 5, 17, 7, 39), None)
(199395, 10027, 9202.0, datetime.datetime(2190, 7, 13, 7, 15), None)
(132349, 10029, 9203.0, datetime.datetime(2139, 9, 22, 10, 58), None)
(140372, 10032, 9203.0, datetime.datetime(2138, 4, 2, 19, 52), None)
(157235, 10033, 9203.0, datetime.datetime(2132, 12, 5, 2, 46), None)
(110244, 10035, 9202.0, datetime.datetime(2129, 3, 3, 16, 6), None)
(189483, 10036, 9203.0, datetime.datetime(2185, 3, 24, 16, 56), None)
(111115, 10038, 9203.0, datetime.datetime(2144, 2, 9, 17, 53), None)
(157839, 10040, 9203.0, datetime.datetime(2147, 2, 23, 11, 43), None)
(148562, 10042, 9203.0, datetime.datetime(2147, 2, 6, 12, 38), None)
(168674, 10043, 9203.0, datetime.datetime(2185, 4, 14, 0, 23), None)
(124073, 10044, 9203.0, datetime.datetime(2152, 10, 2, 16, 24), None)
(126949, 10045, 9203.0, datetime.datetime(2129, 11, 24, 0, 31), None)
(133110, 10046, 9203.0, datetime.datetime(2194, 7, 26, 23, 43), None)
(100375, 10056, 9203.0, datetime.datetime(2129, 5, 2, 0, 12), None)
(142582, 10059, 9203.0, datetime.datetime(2150, 8, 7, 21, 40), None)
(122098, 10059, 9203.0, datetime.datetime(2150, 8, 22, 17, 33), None)
(145203, 10061, 9203.0, datetime.datetime(2107, 1, 16, 11, 33), None)
(111761, 10064, 9203.0, datetime.datetime(2127, 3, 19, 14, 39), None)
(183314, 10065, 9202.0, datetime.datetime(2189, 9, 8, 7, 15), None)
(160442, 10067, 9203.0, datetime.datetime(2130, 10, 6, 1, 34), None)
(146672, 10069, 9203.0, datetime.datetime(2188, 2, 8, 11, 15), None)
(170119, 10074, 9203.0, datetime.datetime(2167, 2, 11, 22, 10), None)
(198503, 10076, 9203.0, datetime.datetime(2107, 3, 21, 21, 16), None)